* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.page {
}

.navbar-container{
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo-image {
  width: 10%;
  margin: 0 0.5rem;
}

.list-nav {
  padding: 0;
  margin: 0;
  display: flex;
  color: #bbbdbf;
  list-style: none;
  font-size: 16px;
}

.list-nav li {
  margin: 0 2rem;
  padding: auto auto;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.list {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(2, 2, 2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2px solid #bbbdbf;
  box-sizing: border-box;
  padding: 6px 2px 0 2px;
  font-size: 14px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header-container{
  background-color: black;
  margin-top: 2rem;
}

.header {
  background-color: #000000;
  padding: 3rem 0;
  width: 60%;
  margin: 0 auto;

}

.header-title {
  color: white;
}

h1 {
  font-weight: lighter;
}

.search {
  display: flex;
  margin: 2rem 0;
}

.search-input {
  width: 100%;
  height: 2.7rem;
  margin-right: 0.5rem;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  padding-left: 2rem;
}

.search-select {
  height: 2.7rem;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  padding-left: 2rem;
  width: 100%;
}

.search-button {
  flex: 2;
  background-color: red;
  border: none;
  height: 2.7rem;
  font-size: 18px;
  color: white;
  border-radius: 4px;
}

.search-group {
  position: relative;
  flex: 7;
  margin-right: 0.5rem;
}

.search-icon {
  position: absolute;
  left: 0.5rem;
  top: 0.9rem;
  color: #bbbdbf;
}

.job-list{
  color: white;
  font-size: 14px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.job-list li{
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 2px;
}

.job-list li:hover{
  background-color: white;
  color: #575656;
}

.content{
  background-color: #bbbdbf;
  color: #353535;
  height: 500px;
  padding: 2rem;
}

.content-title{
  font-weight: 200;
}

.select-group{
  position: relative;
  flex: 3;
  margin-right: 0.5rem;
}

.address-icon{
  position: absolute;
  color: #bbbdbf;
  left: 0.5rem;
  top: 0.9rem;
}

.content-container{
  background-color: #e9e9e9;
}

.content{
  background-color: #e9e9e9;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}

.content-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem 0;
}

.content-card{
  width: 30%;
  padding: 3rem 3rem;
  background-color:white;
  text-align: center;
  margin: 1rem 0;
  position: relative;
  height: 300px;
  align-items: center;
  display: flex;
}

.content-card:hover{
  box-shadow: 0px 0px 10px 1px grey;
}

.job-description{
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.job-total{
  color: red;
  border-bottom: 1px dashed red;
}

.content-footer-title{
  color: #353535;
  font-weight: lighter;
  margin-bottom: 0.7rem;
}

.see-all{
  color: #57595b;
  font-size: 13px;
  border-bottom: 1px dashed #bbbdbf;
  max-width: 85px;
  display: flex;
}

.arrow{
  margin-left: 10px;
  margin-top: 3px;
  width: 0;
  height: 0;
  border-left: 5px solid #57595b;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  display: flex;
}

.content-footer-list{
  display: flex;
  justify-content: space-between;
}

.content-footer-item{
  margin: 1rem 0;
  display: flex;
  width: 48%;
}

.content-footer-item-content{
  margin-left: 1rem;
}

.content-footer-item-content-title{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1rem;
}

.content-footer-item-content-description{
  font-size: 13px;
  color: #727272;
  margin-bottom: 1rem;
}

.content-footer-item-content-title:hover {
  color: red;
}

.content-footer-item-img{
  max-width: 160px;
  max-height: 100px;
}

.footer-container{
  background-color: black;
  color: #bbbdbf;
  padding: 3rem 0;
}

.footer{
  width: 80%;
  margin: 0 auto;
  background-color: black;
}

.footer-1{
  display: flex;
  font-size: 14px;
}

.footer-1-item-list{
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: 9.5rem;
}

.footer-1-item-list li{
  margin: 0.5rem 0;
}

.footer-1-item-list li:first-child {
  color: rgba(255, 255, 255, 0.72);
  font-weight: bold;
}

.footer-1-item-copy{
  margin: 0.5rem 0;
}

.footer-2{
  font-size: 14px;
  margin-top: 2rem;
}